[2018-08-13 14:39] djhoese opened #2 "PyPI home page URL is incorrect"
The page https://pypi.org/project/sphinx_copybutton/ links to https://github.com/choldgraf/sphinx_copybutton when it should be https://github.com/choldgraf/sphinx-copybutton (hyphen not underscore).

[2018-08-30 18:03] NBajanca opened #4 "pypi package name"
I was having trouble finding this on pypi because it is ``sphinx_copybutton`` and not ``sphinx-copybutton``.

I would suggest changing either the docs or the package name.

[2018-08-31 12:51] choldgraf commented on #4
Good point - I *think* I got this fixed https://github.com/choldgraf/sphinx-copybutton/commit/898f05f86d911ab367c1cab99c94a4e30ab30049 but maybe it'll take some time to propagate on pypi?

[2018-09-27 04:23] jhamman opened #5 "Using sphinx-copybutton breaks custom layout"
First off - very cool package. Thanks for putting it together.

I tried adding `sphinx-copybutton` to our docs and got some unexpected results. It seems that something in the plugin is messing with the css for our custom bootstrap theme/css.

![image](https://user-images.githubusercontent.com/2443309/46123226-1e460b80-c1d2-11e8-8e8f-065f3d78c2d8.png)
Left: expected layout without `sphinx-copybutto

[2018-09-27 17:43] choldgraf commented on #5
holy moly!

here's the only CSS that it adds:

https://github.com/choldgraf/sphinx-copybutton/blob/master/sphinx_copybutton/_static/copybutton.css

perhaps we can find the clashes and update the sphinx-copybutton CSS with more specific rules

[2018-09-27 20:41] jhamman commented on #5
hmmm, that looks fairly innocuous. Maybe @rabernat has an idea what's going on?

[2018-09-27 21:20] choldgraf commented on #5
It could be that it's also adding the HTML element, maybe that's what's breaking things? So not the CSS per se, but the addition of the new element?

[2018-10-15 02:55] MacHu-GWU commented on #5
@jhamman Yes, I have similar issue when using bootstrap theme.

[2018-10-15 04:06] choldgraf commented on #5
Anybody figure out a fix for this? (e.g. CSS overrides or something?) if so, PRs would be most welcome!

[2018-10-15 15:11] jhamman commented on #5
I was not able to find a solution. I've given up for the time being but will track this issue.

[2018-10-15 15:45] choldgraf commented on #5
@jhamman could you share a github link w/ a version of the site where S-CB breaks the layout? I can try playing around with it.

[2018-10-15 15:56] MacHu-GWU commented on #5
@choldgraf  https://ryan-roemer.github.io/sphinx-bootstrap-theme/
This theme and a lot more's layout are broken

[2018-10-16 02:07] choldgraf commented on #5
ahhh I think I see what's going on - SCB is loading bootstrap on its own which is breaking previously-existing bootstrap deployments. I'm working on a fix that'll drastically simplify how SCB is loaded and should solve this problem

[2018-10-16 03:10] choldgraf commented on #5
Hey @jhamman and @MacHu-GWU can you try out the latest version from GitHub master? In #6 I think I've fixed the bootstrap layout problem.

[2018-10-16 20:34] MacHu-GWU commented on #5
@choldgraf  `sphinx-bootstrap-theme` fixed.

Ha, I see why, https://github.com/choldgraf/sphinx-copybutton/commit/eb1f43138ba964135d9bf9c6a846f184964d7190#diff-2204ca80a3707660cd87ae77bceec515 this change did the trick.

Looks like you overwrite the bootstrap layout with your customize .css and .js CDN. So the bootstrap theme's layout is not properly triggered.

Am I correct?

[2018-10-16 20:41] choldgraf commented on #5
@MacHu-GWU hehe yep, the previous approach to loading JS/CSS was just "obliterate everything already there" apparently haha

OK, I'll cut a new release so that others can benefit from the fix!

[2018-10-16 20:41] choldgraf commented on #5
Closing this issue for now, though @jhamman if your setup is still broken feel free to re-open!

[2018-10-16 20:42] #5 closed

[2018-10-16 20:42] #4 closed

[2018-10-16 20:42] jhamman commented on #5
Thanks @choldgraf for working on this. I wont have a chance to give this a try until tomorrow but please go ahead with the release as planned.

[2018-10-17 19:27] MacHu-GWU opened #7 "Add a PyPI badge to your repo homepage"
Add this to your README.md file. So people know what is the latest version of your project.
Because I have to refresh your PyPI page to see if you released a new update. And allow people quickly jump to PyPI page.

[code]

This is how it looks like:

[![PyPI](https://img.shields.io/pypi/v/sphinx-copybutton.svg)](https://pypi.org/project/sphinx_copybutton/)

[2018-10-18 01:06] choldgraf commented on #7
Good call! It's in the readme now!

[2018-10-18 01:06] #7 closed

[2018-10-18 21:11] MacHu-GWU opened #8 "Can't locate .svg icon in any nested page."
![image](https://user-images.githubusercontent.com/6800411/47184423-9cd92900-d2f8-11e8-8214-498b496ba906.png)

https://github.com/choldgraf/sphinx-copybutton/blob/master/sphinx_copybutton/_static/copybutton.js#L21

[code]

In nested page, it will search from the current directory. It should search from root domain.

I think this could solve the problem.

[code]

[2018-10-18 22:28] choldgraf commented on #8
blegh - I just noticed this today as well...good catch!

[2018-10-18 23:44] MacHu-GWU opened #9 "[Improvement suggestion] Use Class Tag to enable any element copy to clipboard"
I checked your code, looks like it assign a unique copy to each code block, and use that ID to copy code block to clipboard.

I am wondering, is it possible to just assign a special class to any html element, then your library automatically assign an ID to it, and do the same trick?

If you can implement that, you can define a custom rst:

[code]

Then you can use this to allow copy anything to cl

[2018-10-18 23:47] MacHu-GWU commented on #8
@choldgraf I notice that you are manually creating virtualenv, testing it, and deploy it. I recommend you to use this tool https://github.com/MacHu-GWU/pygitrepo-project, to automate the tedious development operation.

[code]

[2018-10-19 01:31] #8 closed

[2018-10-19 01:35] choldgraf commented on #9
Hmmm - yep that does seem like it should be possible. Currently it just looks for `div.highlight pre` sections, but if there were a "special" class that sphinx-copybutton knew to look for, you could make these contents copyable. The CSS might not look as seamless in this case though :-/

[2018-10-19 02:29] MacHu-GWU commented on #8
@choldgraf I don't think you should use CDN to server svg. because sphinx will copy the file to domain/_static/copy-botton.svg, serve from local definitely faster than any CDN.

Just use /_static/copy-button.svg is fine

[2018-10-19 02:46] choldgraf commented on #8
@MacHu-GWU so I tried `/_static/copy-button.svg` and it was serving it from the base url, e.g. if the svg was here: `mysite.org/mysubsite/_static/copy-button.svg` the links would be rendered as `mysite.org/_static/copy-button.svg`.

Any idea how to get around that?

[2018-10-31 11:28] ijaureguialzo opened #11 "Using with read_the_docs template"
Hello, I'm trying to use it with this template and get a green square (not gray) and a tiny icon.

How can I properly customize it? I've looked into the css file and there's no green background anywhere. Tried in Safari and Chrome, same results.

This is what I get:

![grabacion de pantalla 2018-10-31 a las 12 19 36](https://user-images.githubusercontent.com/6746736/47785207-4f9d8400-dd08-11e8-8cd

[2018-11-01 16:13] jhamman commented on #5
@choldgraf - finally got around to trying this and it seems to be working well. Here's an example for those interested in seeing how it plays: http://pangeo.io/setup_guides/hpc.html

Thanks again for fixing this.

[2018-11-02 01:39] choldgraf commented on #11
huh, that is super weird. Do you have a live site somewhere online?

[2018-11-03 04:39] thoo opened #12 "SVG image"
Thanks for this great extension. If I want to use a different image instead of `sphinx_copybutton/_static/copy-button.svg`, can I overwrite it in css file some way???

[2018-11-03 14:45] choldgraf commented on #12
oooh good question...hmm, currently no (the path to the SVG is hard-coded). But either:

1. We could try adding a configuration to `conf.py` that would let the user set this path.
2. We could check for a file called `_static/copybutton.svg` and if it exists use that file instead of the default one.
3. We could provide documentation for how to change this button with Javascript after the site is lo

[2018-11-03 16:44] thoo commented on #12
@choldgraf  Thanks for the quick reply. It would we nice to have an option to configure in `conf.py`. I submitted PR for `scikit-image` to add a copybutton using your extension. Hopefully, more python machine learning communities use your extensions. Tensorflow already had a copy button. 👍

[2018-11-03 17:44] choldgraf commented on #12
ok cool, lemme see if I can figure this one out...shouldn't be too hard (or PRs are welcome as well!)

[2018-11-03 18:41] choldgraf commented on #12
hmmm, I looked into it a little bit, and I can't figure out how to set a javascript variable using a configuration in `conf.py`...sphinx extensions is such a mystery to me :-P

could you try a hacky solution to this first? :-)

If you did these two things:

1. included your own javascript with the site (e.g., in `_static/js/custom.js`) like the following example (which loads a random other image i

[2018-11-03 20:09] thoo commented on #12
Thanks. I think it should work. I will close the issue for now. If I run into issues, I will get back to you. :) Thanks for the help.

[2018-11-03 20:09] #12 closed

[2018-11-03 20:44] choldgraf commented on #12
cool - I added these instructions here: #14

[2018-11-05 05:23] wuyisheng opened #15 "Sphinx-copybutton takes too much time to load"
It took too much time to load these resources.

[code]

Can you put these resources in a static directory?

[2018-11-05 09:01] ijaureguialzo commented on #11
Hello, you can see it live here:

https://lm-xml-apuntes.readthedocs.io/es/copybutton_test/apuntes/20_sintaxis_xml.html

The source which is used for the build is in this repository, on it's own `copybutton_test` branch:

https://github.com/Egibide-DAM/lm-xml-apuntes/tree/copybutton_test

[2018-11-05 18:49] choldgraf commented on #15
hmmm I *think* that these are now removed as dependencies (except for the `clipboard_js_url` library) because...could you double-check you're running the latest version (and if that still doesn't work, can you try w/ the latest "master"?)

[2018-11-05 19:01] choldgraf commented on #11
great - thanks for the link, I'll try and figure this one out this week! If you come up with a solution of your own, please don't hesitate to share and we can incorporate it into the extension!

[2018-11-05 22:22] #11 closed

[2018-11-05 22:23] choldgraf commented on #11
hey - I think that this should be fixed in #16...can you try installing sphinx_copybutton from master and seeing if that fixes things? You might still need to tweak some CSS but the green weirdness should be gone...

[2018-11-05 23:00] ijaureguialzo commented on #11
Great, thank you!

It's working correctly now, no green background and the icon looks good:

https://lm-xml-apuntes.readthedocs.io/es/copybutton_test/apuntes/20_sintaxis_xml.html#

BTW: I'm new to this thing of pip extensions and don't know how are they released; how do I now when it's released in production and can stop using the direct reference to the GitHub branch?

[2018-11-05 23:41] choldgraf commented on #11
you'd need to update whenever sphinx-copybutton cuts a new release.......which I'll do now, so you can start using the non-github version in about 5 minutes :-)

[2018-11-05 23:43] choldgraf commented on #11
ok, should be released - give it a shot and see if that works!

[2018-11-06 00:15] ijaureguialzo commented on #11
The release version is working perfectly.

Thanks!

[2018-11-06 01:10] wuyisheng commented on #15
Emmm...I workaround this problem. I modified `__init__.py` and put these resources in a static directory on my computer.

[2018-11-06 01:10] #15 closed

[2018-11-06 01:45] choldgraf commented on #15
I'm a bit confused by this problem - it sounds like you're using an old version of the package...here is the relevant line in the latest version:

https://github.com/choldgraf/sphinx-copybutton/blob/master/sphinx_copybutton/__init__.py#L11

There's only a single resource being loaded, not all of the ones you listed...

[2018-11-08 18:14] thoo opened #18 "Remove outputs and prompts"
Currently this will copy everything inside the code block. I was trying to add your `sphinx-copybutton` at scikit-learn. I think there are a lot of examples with outputs and prompts. [For example](https://scikit-learn.org/stable/modules/linear_model.html),
[code]
They are all tagged with class named `gt,go,gp`. I am not sure it is a standard name for sphinx-copybutton. So I modify your copybutton.

[2018-11-08 18:30] thoo commented on #18
I just submit a pr. Please feel free to close it if those classes are uncommon.

[2018-11-12 19:34] #18 closed

[2018-11-13 09:46] jessetan opened #21 "Read config from conf.py"
https://github.com/rtfd/sphinx_rtd_theme/issues/429 mentioned a need to read configuration from conf.py.

You can define configuration values in your `setup()` function by calling [`app.add_config_value()`](http://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx.application.Sphinx.add_config_value)
You can get the value somwehere else using `app.config` (if `app` is available, like from an e

[2018-11-13 16:39] choldgraf commented on #21
very cool - thanks for the information :-)

do you know of an elegant way to pass variables from the python space into the javascript space? I guess you could just add `<script>` code to the built site or something?

[2018-11-14 16:26] jessetan commented on #21
You can indeed write a `<script>` element into the page with the variables, or you can use templating in the JS file.
That's the way https://github.com/rtfd/readthedocs-sphinx-ext does it, but you'll have to dig in the code to see how it works

[2018-11-14 16:43] choldgraf commented on #21
thanks for the tip! will give this a shot when we start on either

#20 or #9

[2018-11-25 19:47] sciunto opened #22 "Warning: Extension does not declare if it is safe for parallel reading"
Hi
We use this extension in scikit-image and i have the following warning:

[code]

[2018-11-25 19:53] choldgraf commented on #22
hey @sciunto ... could you tell me what this means? :-)  any idea how one can declare this?

[2018-11-25 21:48] sciunto commented on #22
I don't (tried to) know how to fix it, but I guess it is related to the parallel build: https://github.com/scikit-image/scikit-image/blob/master/doc/Makefile#L6

There must be a bool somewhere to indicate whether sphinx can parallelize the build or not.

[2018-11-25 21:57] sciunto commented on #22
check this https://www.sphinx-doc.org/en/stable/extdev/index.html#extension-metadata

[2019-02-06 19:32] xtianus commented on #8
Maybe you can get around this problem if you don't insert an <img> but a <div> with a background image relative to the css.

[2019-02-06 19:35] xtianus opened #27 "Load icon from local installation"
The copy icon is currently loaded from https://gitcdn.xyz/repo/choldgraf/sphinx-copybutton/master/sphinx_copybutton/_static/copy-button.svg

It would be much better to load it from my local installation so that my site doesn't depend on your site being online...

[2019-02-06 20:03] xtianus opened #28 "Adding fade effect to icon"
Maybe you'd like to consider adding a fade effect to the copy icon so that it only appears when hovering on the code block.
This should do it:

[code]

[2019-02-06 21:59] choldgraf commented on #27
I'm all for it, just haven't had the cycles to figure it out. PRs definitely welcome to change the behavior to package and load it locally!

[2019-02-06 22:02] choldgraf commented on #28
seems like a reasonable idea to me!

[2019-02-12 17:52] #28 closed

[2019-02-13 17:41] adamtheturtle opened #30 "Support copying content without the prompt"
This is a feature request.

I use [`sphinx-prompt`](https://pypi.org/project/sphinx-prompt/) which allows a user to select the script but not the prompt.

It would be great to use this with `sphinx-copybutton`.

[2019-02-13 18:21] choldgraf commented on #30
Ah yes - I agree that some version of supporting this would be helpful! We had take a stab at it in https://github.com/choldgraf/sphinx-copybutton/pull/20 but eventually closed it because it seemed to vulnerable to edge-case-splosion. Maybe an easier way to fix this would be to allow the user to supply a function that is called on the text of the code cell before the copy is returned? If you've go

[2019-02-16 10:45] adamtheturtle commented on #30
I do not have any ideas, sorry!

[2019-03-20 08:01] nishikeshKardak opened #31 "The documentation html link is broken"
The Documentation link is broken given in the README.md

Link: https://readthedocs.org/projects/sphinx-copybutton/badge/?version=latest

[2019-03-20 15:51] choldgraf commented on #31
Fixed by #32 ! Thanks @nishikeshKardak !

[2019-03-20 15:51] #31 closed

[2019-03-27 12:13] nishikeshKardak commented on #31
Thanks @choldgraf , for appreciating :)

[2019-04-02 15:56] dstansby opened #33 "Is sphinx_copybutton safe for parallel reading?"
Building docs in parallel (`O=-j4` option to sphinx-build) that include `sphinx_copybutton` emits the following warning:
[code]
Would it be possible to declare whether sphinx_copybutton is safe for parallel reading to get rid of this warning?

[2019-04-02 23:09] choldgraf commented on #33
Hmmm, are you on the latest version? I thought this had been fixed (see https://github.com/choldgraf/sphinx-copybutton/issues/22 and https://github.com/choldgraf/sphinx-copybutton/pull/23)

[2019-04-03 15:31] dstansby commented on #33
Sorry, my bad, upgrading solved the issue.

[2019-04-03 15:31] #33 closed

[2019-04-03 15:50] choldgraf commented on #33
no worries @dstansby , issues that get closed without me needing to do anything are my favorite issues :-)

[2019-09-29 22:45] wtbarnes commented on #11
I'm using the latest PyPI release (v0.2.5) with the RTD theme and I'm still seeing this behavior. The icon is small, but without the green box. Any chance this problem has crept back in?

[2019-09-30 07:35] ijaureguialzo commented on #11
The icon seems good, only a bit small.

I customized my css and added a 1.4em width and height to the link and now it looks much better. Maybe this could be opened as a PR to be included in the main css file.

Here's the source (changes are in last commit): https://github.com/egibide-dam/lm-xml-apuntes

And the generated docs where the button is used: https://lm-xml-apuntes.readthedocs.io/apuntes/

[2019-09-30 18:28] choldgraf commented on #11
if folks think there's a fix that could be made in this repo that is more consistent across themes etc, let me know and I'm happy to review PRs!

[2019-11-25 04:12] sandrotosi opened #34 "PyPI tarball contains a top-level directory `sphinx-copybutton-0.2.5/`"
Hello,
i'm working to package sphinx-copybutton for debian, and noticed how the tarball in PyPI contains a top-level directory named `sphinx-copybutton-0.2.5/` . this is could create troubles down the line when a new release is published, as now the 2 versions will be entirely different.

what's customary to do (and i believe the default behaviour of `python3 setup.py sdist`) is to publish the pro

[2019-11-26 21:17] choldgraf commented on #34
oops!  hmmm,  I certainly didn't mean to do anything different from the same approach that other projects use, so I'm guessing I just did something wrong :-) do you have a link to instructions that you use when publishing things?

[2019-12-03 02:36] choldgraf opened #37 "New release"
- [x] Ensure that the [Sphinx-Copybutton version number](https://github.com/choldgraf/sphinx-copybutton/blob/master/jupyter_book/__init__.py)
   is correct, and remove the `dev0` part of the version number.
   Make a PR with the new number and merge into master.
- [x] Create a new distribution for Sphinx-Copybutton by
   [following the twine release instructions](https://twine.readthedocs.io/en/la

[2019-12-03 02:47] choldgraf commented on #34
I just cut a new release using twine instead of flit, does it look correct to you now?

[2019-12-03 02:48] #37 closed

[2019-12-04 18:47] jamesjer opened #38 "License field in setup.py"
The LICENSE file contains the MIT license.  The 'classifiers' field in setup.py mentions the MIT license.  But the license field on line 16 of setup.py claims the license is BSD.  I think that line should not be there at all, as the 'classifiers' field already supplies the license information.

[2019-12-04 22:26] #38 closed

[2019-12-04 22:26] choldgraf commented on #38
oops! nice catch @jamesjer

[2019-12-11 19:23] bcbnz opened #40 "_static folder and LICENSE missing from PyPI tarball"
In the 0.2.6 tarball on PyPI, both the _static folder and the LICENSE file are missing. They appear to exist in the wheel.

[2019-12-11 19:26] choldgraf commented on #40
hrmm - any idea for how this can be fixed?

[2019-12-11 20:32] bcbnz commented on #40
The linked pull request fixes it for me -- with it, `python setup.py sdist` created a tarball containing _static and LICENSE.

[2019-12-19 20:09] mgeier commented on #27
See #42 for a possible solution.

[2019-12-19 20:22] mgeier opened #43 "Include a copy of clipboard.min.js in the distribution?"
Alternatively, an option for `conf.py` should be provided that allows specifying a local path (similar to [mathjax_path](http://www.sphinx-doc.org/en/master/usage/extensions/math.html#confval-mathjax_path)).

Otherwise it is not possible to use this extension without internet connection.

See also #15.

[2019-12-21 01:57] sandrotosi commented on #34
apologies, i think i was misusing a command i rarely use to create new packages in Debian. all is good, closing

[2019-12-21 01:57] #34 closed

[2019-12-21 01:58] sandrotosi commented on #40
yes, please keep including LICENSE in the released tarball, speaking from a Debian perspective here :)

[2019-12-21 01:58] sandrotosi commented on #40
it also looks like the entire `doc/` directory is not missed? please re-add that too

[2019-12-23 14:32] choldgraf commented on #43
Hmmm - the main reason that I'm loading it from a CDN is because it will generally be faster to load than if somebody is using GitHub pages for a CDN. Are you trying to create documentation that works without the internet? I'm trying to figure out how common this would be...

[2019-12-26 09:14] #27 closed

[2019-12-26 09:15] mgeier commented on #43
I'm talking about putting it into the "static" directory, i.e. it would be loaded from the same server as the rest of the HTML/JS/CSS files.
Would this be generally slower than loading it from `cdnjs.cloudflare.com`?

Either way, I'm not sure if it would really make sense to copy the file.

Sphinx itself seems to use both strategies. For example, it loads `jquery.js` and `underscore.js` from the "

[2019-12-26 09:22] #40 closed

[2019-12-26 09:23] choldgraf commented on #40
merged this! thanks, hopefully it's fixed, python packaging is still a mystery to me.

@sandrotosi please do feel free to open a PR if you know the right way to include `doc/` in the resulting tarball!

[2019-12-26 13:19] bcbnz commented on #40
@choldgraf I've opened PR #44 which adds a MANIFEST.in telling setuptools to include the `doc/` directory. (Python packaging is something of a mystery to me to, but Google and trial and error says this way works!).

Once you've checked and merged this could you release a new version on PyPI? That way I can get the Arch Linux package up-to-date :).

[2019-12-27 10:15] choldgraf commented on #40
looks great, thanks...it might be a bit before I can cut a new release (on holiday until early january) but I'll get to it quickly! Thanks for all of the patches!

[2019-12-27 10:35] choldgraf commented on #43
I think it'd depend on where you were hosting it (e.g. github pages vs. netlify would probably have different CDN abilities).

hmmm, that's a fair point. Since Sphinx is already doing this anyway, I don't know that we'd gain much from using a separate CDN for the minified JS.

So I'm +1 on including clipboard.min.js in the bundle w/ Sphinx, and just referring to it statically

[2019-12-27 11:10] mgeier opened #46 "Delayed "Copy" tooltip?"
I like the appearance of the copy button, but I find it too noisy that the "Copy" tooltip appears whenever I move my mouse pointer over the button.

I think the tooltip *does* have its use, but what about delaying it a little bit (probably about a second, or even less?) to reduce the visual noise?

This would avoid the unwanted popping up when inadvertently moving over the button, but it would sti

[2019-12-29 15:26] mgeier commented on #43
OK, cool!

I can make a PR if you want me to, but I don't know if we have to do anything special regarding the license of the file.
Do we have to add a license text somewhere?

Or probably it would be best to include it as `git submodule` and create a symbolic link to the file https://github.com/zenorocha/clipboard.js/blob/master/dist/clipboard.min.js?

[2019-12-29 22:03] sandrotosi commented on #40
@choldgraf thanks! just so you know, we are kinda stuck in debian, as we cant update the package until there's a new upstream release with the doc/ directory present, so as soon as you can release it, the better it will be for us :)

[2019-12-30 09:06] choldgraf commented on #40
Makes sense - sorry for the slowness, I’m just out of the country on holiday now so have minimal working time. I’d like to get #43 figured out before we cut a new release but that shouldn’t be too much work I think

[2019-12-30 10:58] mgeier commented on #43
I've added #48 as a possible solution.

[2019-12-31 14:23] choldgraf commented on #30
see #49 for an implementation that addresses this. It lets users specify some custom text, which will be removed from the beginning of any lines that start w/ that text

[2019-12-31 14:32] #46 closed

[2020-01-03 17:18] #43 closed

[2020-01-03 17:30] #30 closed

[2020-01-03 17:31] choldgraf commented on #21
I believe this is now implemented!

[2020-01-03 17:31] #21 closed

[2020-01-03 17:31] choldgraf opened #50 "Things to fix for next release"
- [x] Ensure that the [Sphinx-Copybutton version number](https://github.com/choldgraf/sphinx-copybutton/blob/master/jupyter_book/__init__.py)
   is correct, and remove the `dev0` part of the version number.
   Make a PR with the new number and merge into master.
- [x] Create a new distribution for Sphinx-Copybutton by
   [following the twine release instructions](https://twine.readthedocs.io/en/la

[2020-01-03 17:42] choldgraf commented on #50
@mgeier and @sandrotosi wanna check to make sure this looks good?

[2020-01-04 10:18] mgeier commented on #50
The packages seem to work, there are just two minor cosmetic problems:

(1) When unpacking the packages (`wheel` and `sdist`), the contained files all are executable.
I have no idea why that's the case, but it doesn't happen when I'm trying other packages.
Are the files executable on your local file system?

(2) The `sdist` contains the `_build` directory, I guess that's not intentional?

I normal

[2020-01-06 17:44] choldgraf commented on #50
@mgeier thanks for the advice! Perhaps we can tackle these as issues for the next release. I'll change the issue title to reflect the new To-Do item

[2020-01-13 01:26] kratsg opened #52 "feature request: configurability of copyability"
from scikit-hep/pyhf#721

In order to be a bit more flexible about how code snippets can be copied, it is true that there is no enforced consistency so that as of right now, the entire code-block is copied. This issue requests two separate things:

1. The ability to toggle on/off whether the last line in a code-block should be copied (this doesn't necessarily assume a language)
1. The ability to t

[2020-01-13 13:10] mgeier commented on #52
I wonder if this effort could be somehow combined with https://github.com/sbrunner/sphinx-prompt?

[2020-01-13 19:31] choldgraf commented on #52
What if we just added an extra True/False flag to what we already have, that allows authors to say "if a code block has the `>>>` in it, then *only* copy the lines that start with `>>>` and skip the rest (after stripping the `>>>`).

[2020-01-14 16:57] lukasheinrich commented on #52
alternatively some configuration to specify which lines to copy (ignoring all other lines)

[code]

[2020-01-19 02:42] CodingCattwo opened #55 "Add copy button error:"
Stacktrace:
[code]

My doc project is [WeBASE-Doc](https://github.com/WeBankFinTech/WeBASE-Doc)

[2020-01-19 17:07] choldgraf commented on #55
@CodingCattwo can you upgrade sphinx and see if that fixes it?

[2020-01-21 11:04] tzach opened #56 "Feature request / question: newline at the end of the paste text"
When pasting a copy text, an extra newline is added at the end.
On the terminal, it means an Enter command which starts executing.
Any way to remove it?

[2020-01-21 18:16] choldgraf commented on #56
Ah, that's a good point - I'd be +1 on this. I think that the fix would need to be here:

https://github.com/choldgraf/sphinx-copybutton/blob/master/sphinx_copybutton/_static/copybutton.js#L72

That is the code that grabs the text content of the cell and returns the text to be copied. You'd want to modify that to check for an empty final line and remove it

[2020-01-21 18:47] tzach commented on #56
Indeed!
The following change fixes the problem:

[code]

[2020-01-21 19:06] choldgraf commented on #56
Wouldn't that remove all the newlines *inside* the code as well? I think we only want to remove the very last newline

[2020-01-21 19:32] tzach commented on #56
You are right, sorry my JS is rusty
This should do the work
[code]

[2020-02-02 13:49] mgeier opened #59 "The "copybutton_skip_text" feature is incomplete"
I'm not planning to ever use this feature, but I still feel this should be mentioned:

The option `copybutton_skip_text` seems to expect a single line of text (by default `'>>> '`). However the Python prompt can also have another form, namely `'... '`.

For example, https://github.com/sbrunner/sphinx-prompt (example: http://sbrunner.github.io/sphinx-prompt/) seems to allow multiple prompts.

Also,

[2020-02-02 21:43] choldgraf commented on #59
Thanks for the feedback - some quick thoughts:

That's a good point, I believe that it was also suggested in https://github.com/choldgraf/sphinx-copybutton/issues/52#issuecomment-574272086

agree to make this configurable (also in https://github.com/choldgraf/sphinx-copybutton/issues/52#issuecomment-574272086 I believe)
https://github.com/choldgraf/sphinx-copybutton/issues/52

For your final examp

[2020-02-02 22:01] choldgraf commented on #52
Just a note for future ref:

To get allow for multiple strings in the `conf.py` value, we should use something like this in the template:

[code]

[2020-02-03 12:34] mgeier commented on #59
No, I'm talking about the case where a user is blissfully unaware of the "skipping" feature and uses something like an e-mail conversation in a `code` block and is surprised why suddenly some of the `>` markers are missing in the copied text.

If I understood correctly, the current implementation doesn't take the language of the code block into concern, right?
I think it's not good to willy-nilly

[2020-02-03 12:38] mgeier commented on #52
As mentioned in #59, I think it would be good to take inspiration from the "copy button" in the Python docs, see e.g. https://docs.python.org/3/tutorial/controlflow.html

The corresponding code is in https://github.com/python/python-docs-theme/blob/master/python_docs_theme/static/copybutton.js

[2020-02-03 17:43] choldgraf commented on #59
Hmmm - it's a fair point that we want to avoid unexpected behavior. I think that long-term, it might be best to implement some kind of behavior that depends on code cell type. In the short term, I'll set the default behavior to "don't auto-remove any prompts" so that users have to explicitly set it if they want the behavior. I feel like this is more in-line with "explicit is better than implicit".

[2020-02-06 21:21] choldgraf commented on #56
this is fixed in #58

[2020-02-06 21:21] #56 closed

[2020-02-14 16:04] mgeier commented on #59
I like the idea of making it opt-in for now!

[2020-03-04 08:11] joleroi opened #65 "Copy multi-line Python code"
# Situation
I would like to add a copy button to Python code of the following form
[code]
I added the following to my `conf.py`
[code]
I get the following output, when clicking the copy button in the generated HTML

[code]

# Problem

As expected the lines starting with `>>> ` are copied and the prompt is removed. But

* Lines starting with `... ` are kept as they are. I'm surprised that they aren

[2020-03-04 15:51] choldgraf commented on #65
hey! thanks for checking this out. I *think* this might be fixed on master, could you try again running with the master branch? And if that fixes it, maybe it's time to cut a release...

[2020-03-05 13:56] joleroi commented on #65
Hey, thanks for your reply. The result on master is

[code]

So, it's better I'd say - exactly as expected. Now I only need to be able to add `... ` to the recognized command prompts.

[2020-03-05 15:49] choldgraf commented on #65
Nice! OK so I think the issue here is that right now there is only one kind of prompt text allowed. This could probably be expanded to be a **list of prompt text** instead of a single string.

The relevant code is probably here: https://github.com/choldgraf/sphinx-copybutton/blob/master/sphinx_copybutton/_static/copybutton.js_t#L68

Perhaps we could write a function like `match_prompt_text_with_li

[2020-03-13 03:43] choldgraf opened #67 "Release"
- [x] Ensure that the [Sphinx-Copybutton version number](https://github.com/choldgraf/sphinx-copybutton/blob/master/jupyter_book/__init__.py)
   is correct, and remove the `dev0` part of the version number.
   Make a PR with the new number and merge into master.
- [x] Create a new distribution for Sphinx-Copybutton by
   [following the twine release instructions](https://twine.readthedocs.io/en/la

[2020-03-13 03:46] #67 closed

[2020-03-13 10:32] mgeier commented on #67
The `sdist` contains the generated HTML docs (including temporary Sphinx files), is this intentional?

[2020-03-13 15:02] choldgraf commented on #67
ugh - nope not intentional. I thought I had fixed this but that must have been in another project. Will re-release

[2020-03-13 15:22] choldgraf commented on #67
ok I think this should be fixed

[2020-03-16 07:15] cmouse opened #68 "Improvement: support also parsed-literal blocks"
It would be nice if it was possible to also copy text from parsed-literal blocks too.

[2020-03-16 15:08] choldgraf commented on #68
Could you give an example of a page w/ a parsed-literal block? It would make it easier for folks to implement a selector to add buttons to this

[2020-03-16 18:13] cmouse commented on #68
https://doc.dovecot.org/configuration_manual/protocols/lmtp_server/#lmtp-proxying

[2020-03-17 15:10] choldgraf commented on #68
Sounds good 👍 I think the fix would need to be here for anyone interested in implementing this:

https://github.com/choldgraf/sphinx-copybutton/blob/master/sphinx_copybutton/__init__.py#L28

Seems like `parsed_literal` would be reasonable to add to the list of default selectors.

[2020-03-23 07:02] tschinz opened #69 "Big copybutton the RTD Theme"
How can I make the svg image smaller using the CSS? In case of the RTD Theme the button appears huge.

![20200323_0802_ZELL](https://user-images.githubusercontent.com/1192968/77290538-ada38080-6cdc-11ea-8cc3-a719d2b3f205.png)

[2020-03-23 14:41] choldgraf commented on #69
holy moly! that is huge :-)   I haven't seen that on the RTD theme before. Do you think you could try using the "master" branch and see if that fixes it? And if so, we can make a new release

[2020-03-23 15:25] tschinz commented on #69
Well to add on each code cell that image would enlarge my content of the page drastically ;-)
I've tried the master branch code from https://github.com/choldgraf/sphinx-copybutton/tree/master/sphinx_copybutton
But then no button appears. I've also changed the icon in the conf.py with a smaller one, which helps ,but the location is still wrong.
``copybutton_image_path = 'img/copybutton.svg'``

![im

[2020-03-26 23:19] choldgraf commented on #69
hmmm - it is strange that no button appears when on master. I just tried out the sphinx_rtd_theme on my local master branch and it worked fine:

![image](https://user-images.githubusercontent.com/1839645/77705667-85867c80-6f7d-11ea-96d7-7af8edfb0729.png)

I'm not sure how to debug on your side, but you shouldn't need to manually add any extra CSS files yourself...

[2020-03-27 06:50] tschinz commented on #69
It was my error why the master had no button, I corrected it but got the same error as on the pip install version.
In the mean time I also tried building without any extentions without luck. In the end I got it to work with the external css file.
herafter my conf.py: https://github.com/tschinz/zawiki/blob/master/source/conf.py
Thanks for your help

[2020-04-02 07:01] matthewfeickert commented on #65
I just wanted to :heavy_plus_sign: this issue for the same reasons as @joleroi and follow any developments. We also have [such issues for our code examples in pyhf](https://scikit-hep.org/pyhf/_generated/pyhf.tensor.pytorch_backend.pytorch_backend.html#pyhf.tensor.pytorch_backend.pytorch_backend.simple_broadcast), so this would be great to add in a future release.

This was my naive attempt, so se

[2020-04-06 08:53] tzach opened #70 "Extension does not work with Sphinx 2.4.4"
I try to move from Sphinx 1.8.x to Sphinx 2.4.4, and in the process sphinx-copybutton stopped working.
I see the following JS error in Chrome console:
[code]

[2020-04-06 19:05] choldgraf commented on #70
Hmmm - that's a bit strange, I'm using 2.4.4 myself and it has worked fine. Can you try re-installing or upgrading both sphinx-copybutton and sphinx?

[2020-04-06 19:15] tzach commented on #70
Sorry, look like the problem is probably related to clipboard manager I'm using.
I will sit in the corner for 15 minutes.

[2020-04-06 19:15] #70 closed

[2020-04-11 14:58] rsokl opened #71 "(Edge browser) Using sphinx-copybutton introduces windowing of code"
Hello! I have been planning to use your extension when building [Python Like You Mean It](https://www.pythonlikeyoumeanit.com/), however I found that, in the Microsoft Edge browser, it collapses the code blocks into scrollable windows.

For example:

![image](https://user-images.githubusercontent.com/29104956/79047174-1480cf00-7be3-11ea-95fb-c37e663c136f.png)

whereas on Chrome everything appears

[2020-04-11 21:52] choldgraf commented on #71
Hmmm - it looks like this is only a problem with the sphinx-rtd-theme *and* microsoft edge. I am not as familiar with using edge / how to develop on it etc, but I bet that the issue would be in the CSS `overlap` rules for the code cells. PRs are definitely welcome if somebody figures out a CSS incantation that makes it work

Maybe @mgeier has run into this issue before with nbsphinx's use of copyb

[2020-04-13 11:40] mgeier commented on #71
@choldgraf I haven't heard anything from Edge users, neither good nor bad.

There has been an overflow problem with Chromium, though:

https://github.com/spatialaudio/nbsphinx/pull/349/files#diff-4b6afd0fa4c9aae80ae389f523f5a1a5R590-R594

This may be related? It was only w.r.t. vertical scrollbars, though.
TBH, I don't quite understand why this is happening ...

[2020-04-13 14:51] choldgraf commented on #71
this describes the last 4 years of my life with CSS :-)

I think that PR you linked might be related as well - @rsokl wanna see if [CSS like these](https://github.com/spatialaudio/nbsphinx/pull/349/files#diff-4b6afd0fa4c9aae80ae389f523f5a1a5R591) fixes your Edge problem? If so we can see if it's possible to fix with sphinx-copybutton, but it may need a theme-related fix

[2020-04-14 01:48] christiam commented on #68
FWIW the suggestion in this comment can be used as a workaround: https://github.com/sphinx-doc/sphinx/issues/4054#issuecomment-329097229

I hope this helps!

[2020-04-14 22:28] rsokl commented on #71
Just a heads-up: it looks like the new Chromium-based version of Edge does not have this issue. So this will eventually go away on its own as the old version of Edge goes by the wayside.

[2020-04-14 23:08] choldgraf commented on #71
hooray for magical black-box under the hood bugfixes :-)

[2020-04-21 07:05] sciunto opened #74 "Add minimum requirements"
In scikit-image, we discovered that this pluggin is working onlu for sphinx >= 1.8. Would it be possible to provide the min requirements in a requirements.txt file please?

Thanks a lot!
related issue: https://github.com/scikit-image/scikit-image/pull/4604

[2020-04-21 20:57] choldgraf commented on #74
Hmmm - that should already be encoded in the package here:

https://github.com/choldgraf/sphinx-copybutton/blob/master/setup.py#L44

That should be used by things like `pip` when installing.

[2020-04-21 22:46] choldgraf opened #76 "Migrate testing to github actions"
For example, see https://github.com/ExecutableBookProject/sphinx-book-theme/blob/master/.github/workflows/tests.yml

[2020-04-21 22:47] #50 closed

[2020-04-21 22:47] choldgraf commented on #9
this is fixed

[2020-04-22 03:43] sandrotosi commented on #50
Hey @choldgraf , you also released a new version of sphinx-copybutton? :)

[2020-04-22 04:09] choldgraf commented on #50
well I have since Jan 6th :-) but is there a feature in master that you want in the released verison? Can try to make a release tomorrow if so

[2020-04-22 04:56] sandrotosi commented on #50
not necessarily, but there are 45 commits to master since the latest release, probably a new one is due regardless if i need it or not :)

[2020-04-23 22:28] choldgraf commented on #76
done in #77

[2020-04-23 22:28] #76 closed

[2020-04-23 22:37] choldgraf commented on #50
@sandrotosi https://github.com/ExecutableBookProject/sphinx-copybutton/releases/tag/v0.2.11 :-)

[2020-04-30 18:57] RossVertizan opened #79 "Is this library compatible with Windows 10?"
Hi,

I have tried installing on Windows 10 and I get errors.  First I did this:

[code]
So then I did this:

[code]
and then this:
[code]

and now I'm a little bit stuck.

For information, this is the Python version I am using:
[code]

Thanks in advance for any help you can offer.

[2020-04-30 20:58] choldgraf commented on #79
Hey there - sphinx-copybutton requires Python >= 3.6, I think that's where your problems are coming from

[2020-05-06 14:57] mgeier commented on #71
I don't know whether this has anything to do with anything, but this was recently suggested for `nbsphinx`: https://github.com/spatialaudio/nbsphinx/pull/454.

Probably this issue also has something to do with rounding of `em`/`rem` values?

It's probably desperate, but it might be worth a try.
@rsokl Could you try replacing the `em`/`rem` values in https://github.com/executablebooks/sphinx-copybu

[2020-05-20 09:41] chrisjsewell commented on #69
FYI the RTD theme works fine for me: https://17-145482568-gh.circle-artifacts.com/0/html/intro/get_started.html#quick-installation

[2020-05-20 09:52] chrisjsewell commented on #52
As @lukasheinrich alludes to, the prompts should also be regexes, in particular to handle ipython type prompts:

[code]

[2020-05-20 10:02] chrisjsewell commented on #52
In fact if its a regex, you don't need to have multiple strings, just e.g.

[code]

[2020-05-20 14:46] choldgraf commented on #52
I agree with regexes, just haven't had the time so a PR is welcome. I'm not so sure about *forcing* people to use regexes though since most are not comfortable with them

[2020-05-20 14:55] chrisjsewell commented on #52
Yes I was thinking this as well: those pesky amateur users! Perhaps keep `copybutton_prompt_text` as is, and converted it on the fly to a regex before injecting into the javascript. Then also have the `copybutton_lines_regex` for "power users" which, if set, will override  `copybutton_prompt_text`

[2020-05-20 14:56] choldgraf commented on #52
that makes sense to me 👍

[2020-05-22 13:52] rsokl commented on #71
@mgeier so sorry for the delay. Unfortunately, both of my windows machines got updates that pushed the new chromium-based Edge browser, so I can't easily check that fix.

[2020-05-22 17:49] choldgraf commented on #71
Hmmm - not to be dismissive of this problem, but your comment makes me wonder if this is an issue that will increasingly reduce in its effect on others as windows machines continue updating to the new edge browser. Anybody know the timeline for that rollout?

[2020-05-22 20:53] rsokl commented on #71
Based on this article https://www.zdnet.com/google-amp/article/microsoft-kicks-off-staged-rollout-of-chromium-based-edge-what-to-expect/ it sounds like automatic upgrades are happening for non enterprise customers now and enterprises maybe late this year although they could block it if they want.

[2020-05-22 21:08] choldgraf commented on #71
So then this bug will surface for someone at the intersection of:

1. Using windows
2. Using the edge browser
3. Hasn't yet been upgraded (in which case, give it a few months)
4. or is unable to upgrade

?

[2020-05-23 16:18] mgeier commented on #68
I think this is a Sphinx bug, see also https://github.com/sphinx-doc/sphinx/issues/2167.

IMHO Sphinx should generate nested `highlight-none` and `highlight` `<div>`s for `parsed-literal` blocks. This would automatically solve the issue here.

Strangely, if you *don't* use any special formatting (which is against the whole purpose of `parsed-literal`), the resulting code block is properly wrapped

[2020-05-26 03:50] rsokl commented on #71
So.. my brother kindly looked into this with me. I don't really have any experience with web design stuff.

It doesn't appear that proposed the pixel value fix affects the appearance, however it does appear that the following modifications fixes the behavior in the old version of Edge.
(Just for fun, we checked IE11, and the copy button just doesn't work at all in it)

[code]

[2020-05-26 08:36] mhuang001 commented on #65
I made a quick-and-dirty fix to add another prompt besides the current one. Have this in ``conf.py`` and you can have both prompts in effect equally:

[code]

The code is at https://github.com/mhuang001/sphinx-copybutton
An example: https://fdi.readthedocs.io/en/latest/usage/quickstart.html
BTW you can see a yellow version of the grey icon I have made for dark background.

[2020-05-26 12:30] franconianmetal opened #80 "error with pip-installing"
`pip install sphinx-copybutton`
causes
`ImportError: No module named pathlib`

when I install
`pip install pathlib` and `pip install sphinx-copybutton` this causes
`AttributeError: 'PosixPath' object has no attribute 'read_text'`

my version: python -V -> Python 2.7.17

only working on python3/pip3? If yes pls update documentation for prerequisities.
 I'll try to upgrade my python.

[2020-05-27 05:00] franconianmetal commented on #80
working on python3/pip3

pls update documentation for prerequisities

[2020-05-27 05:00] #80 closed

[2020-05-27 16:41] choldgraf commented on #80
thanks for noting this - I added a note to the docs

[2020-05-31 20:37] lukelbd opened #81 "Configure copybutton_prompt_text to support multiple prompt types"
Is there any way to configure `copybutton_prompt_text` to support multiple prompt types?

For example, a simple python interpreter example with multi-line input:

[code]

Or an ipython test:

[code]

How can I get this extension to remove the "In", "Out", ">>>", and ellipsis style prompts?

[2020-06-01 03:28] choldgraf commented on #81
Agreed - this would be useful! I think it's actually a dupe of https://github.com/executablebooks/sphinx-copybutton/issues/52 so I'll close this in favor of that one. Feel free to chime in there!

[2020-06-01 03:28] #81 closed

[2020-06-12 16:59] lucasrodes commented on #52
just came to this issue when I wanted to have python blocks ('>>>') and bash blocks ('$') in the same documentation.

I think the design idea from @chrisjsewell is great.

[2020-06-12 17:04] choldgraf commented on #52
Yep - it sounds like currently this is just waiting on implementation of https://github.com/executablebooks/sphinx-copybutton/issues/52#issuecomment-631526596

[2020-06-12 17:06] chrisjsewell commented on #52
Cheers, I'll give it a quick go over the next few days

[2020-06-13 02:44] chrisjsewell commented on #52
Ok this is implemented in #82 if you want to give some feedback before I merge

[2020-06-17 22:58] chrisjsewell opened #84 "Copy blanklines on matches(?)"
Following #83 blanklines are not captured, e.g.

[code]

If the regex is set, will copy:

[code]

[2020-06-17 23:01] choldgraf commented on #84
My intuition is that yes, we should copy them because the user is going to expect the output to look almost just like the copied code (minus prompts)

[2020-06-17 23:04] chrisjsewell commented on #84
Also I can't figure this out, but in this repository I used:

[code]

which appears to work fine.
but in aiida I've had to use:

[code]

with the tonnes of backslashes, but this is what works

[2020-06-17 23:05] chrisjsewell commented on #84
See: https://325-77234579-gh.circle-artifacts.com/0/html/intro/tutorial.html

[2020-06-17 23:16] choldgraf commented on #84
god I hate regexes 😆

[2020-06-26 16:59] rsokl commented on #71
Just wanted to bump this - this is potentially a solution to the original issue

[2020-06-26 17:23] choldgraf commented on #71
Hey - taking a look at this, I'm not sure we want to add an `overflow-x: hidden` to the input/output areas or I'm worried that they would no longer be scrollable. Though maybe that would be fixed by the `^=` black after, I'm not sure. Want to make a PR that adds this CSS and we can take a look at the build demo?

[2020-06-27 18:05] mgeier opened #85 "Sphinx "inline" line numbers?"
Just a little heads-up:

If and when https://github.com/sphinx-doc/sphinx/pull/7879 is merged, those line number will probably have to be removed from the copied text.

[2020-06-27 19:33] choldgraf commented on #85
Ah good to know, thanks for the heads up

[2020-07-01 05:34] swaldhoer commented on #69
The problem comes from extending the css to better handle the table width. There is [this issue](https://github.com/readthedocs/sphinx_rtd_theme/issues/117) in the sphinx_rtd_theme repository. I copy the code from a [comment](https://github.com/readthedocs/sphinx_rtd_theme/issues/117#issuecomment-41506687) fixing the issue, but generating this problem:

[code]

[code]

@chrisjsewell The link you p

[2020-07-11 14:40] swaldhoer commented on #69
@choldgraf Did you have time to look into this issue based on my comment?

[2020-07-11 15:26] choldgraf commented on #69
I haven't had time - but I am more than happy to review a PR from somebody that both

* Fixes this in the RTD theme
* Doesn't break this in any other Sphinx theme

👍

[2020-07-12 22:50] s-weigand opened #86 "Prompt Regex Escaping Confusion"
First of all thanks for the new Prompt RegEx feature ❤️
I did just try it out and after some fiddeling around with the escaping, it works like a charm.

## Expected behaviour
First of all I think in some edge cases it  might make a difference to mention that the RegEx you type in your `config.py` is a JS RegEx and not a python one.
So that said IMHO it should work similar to this:

[code]
🌈 🦄

##

[2020-07-13 00:02] s-weigand commented on #74
@choldgraf I think this might be due to the [version on conda-forge](https://github.com/conda-forge/sphinx-copybutton-feedstock) (of which you might not even know).
Anyway [this PR](https://github.com/conda-forge/sphinx-copybutton-feedstock/pull/7) sets the proper min version for the version on conda-forge and asks the current maintainer to add the creator of `sphinx-copybutton` as a maintainer as

[2020-07-13 15:16] choldgraf commented on #74
ahh thanks for catching this!

[2020-07-13 15:19] choldgraf commented on #86
hmmmm - a couple quick thoughts:

* Maybe @chrisjsewell can advise on whether the regexp behavior you're describing looks like a JS thing, or maybe it's a Jinja thing? If it's a Jinja thing then I think we can try to design around this in other ways.
* @s-weigand would you be interested in making a PR to the docs with some "sample" regexes that will match very common patterns? E.g., the `In[*]` an

[2020-07-13 17:22] s-weigand commented on #86
I can make a PR at the weekend, maybe we even get the escaping thingy resolved by then. 😄

What definitely is a JS thing is that two different regexs match the same string.

Ha I just found tha jinja2 has the [format filter builtin](https://jinja.palletsprojects.com/en/2.11.x/templates/?highlight=filter#format).

so changing:
https://github.com/executablebooks/sphinx-copybutton/blob/d56f2cf69e7ad8

[2020-07-13 17:27] chrisjsewell commented on #86
Ah cool didn't notice that, yep that looks like it should improve the issue thanks @s-weigand, all them backslashes are a right pain

[2020-07-13 18:11] choldgraf commented on #86
nice catch @s-weigand !

[2020-07-24 02:23] stas00 commented on #65
https://huggingface.co/transformers/ suffers from this problem as well:
https://github.com/huggingface/transformers/issues/5930

[2020-07-24 20:53] #86 closed

[2020-07-25 15:49] s-weigand opened #93 "[TOOL] Use bump2version for release management"
While derping around in the source code I saw that you manually parse the version number in your `setup.py`:
https://github.com/executablebooks/sphinx-copybutton/blob/0d53ead4a580b50c595b3f95a039516fbd4c6681/setup.py#L24-L29

So I wanted to recommend [bump2version](https://github.com/c4urself/bump2version) to you.
For me this simplified the workflow of releasing a new version quite a lot.
You can

[2020-07-27 01:42] chrisjsewell commented on #93
yeh I guess its how it fits into https://executablebooks.org/en/latest/dev-conventions.html#the-process-of-creating-a-release, and whether it would be a help or an added thing to remember

[2020-07-29 00:55] choldgraf commented on #93
I'm always torn on this one. On the one hand, I like the idea of automating things that we must repetitively do all the time. On the other hand, it feels like extra technical complexity that addresses something that requires very little effort. Now that we're going to go with @chrisjsewell's slightly-not-kosher-but-way-easier-to-follow versioning approach, bumping the version will become:

* Bump

[2020-08-08 21:37] edmcdonagh opened #94 "Example regex misses bash prompt"
Regex example doesn't have the bash prompt element. Creating issue to reference in PR.

[2020-08-08 21:46] chrisjsewell commented on #94
closed by #94

[2020-08-08 21:46] #94 closed

[2020-09-01 18:19] wabernatScality opened #96 "Can't make regexp work"
When I try to use regular expressions in the copybutton_prompt_text field (with copybutton_remove_prompts and copybutton_prompt_is_regex set to True), sphinx-copybutton does not remove prompts.

To reproduce the behavior:

1. Set conf.py as follows:

[code]
2. Run sphinx-build

**Expectations**

I expect sphinx-copybutton to detect and omit from copying the user "`$ `" OR root "`# `" prompts (i.e.

[2020-09-02 04:44] chrisjsewell commented on #96
Oh no regexes can be tricky. It looks like you have two spaces after dollar, have you tried using the specific white space regex: `r"\$\s|\#\s"`?

[2020-09-02 04:50] wabernatScality commented on #96
Thanks for your reply!

I tried:
`copybutton_prompt_text = r"\$\s|\#\s"`

On the built document, the **Copy** button copies the entire block, but does not omit the "$ " prompt.

[2020-09-02 05:10] wabernatScality commented on #96
FWIW, the JavaScript regex "or" pattern looks to involve parentheses: https://www.w3schools.com/jsref/jsref_regexp_xy.asp.

but I'm not having much luck permutating on that, either...

[2020-09-06 12:51] swaldhoer commented on #69
I don't know why and what has changed, but this problem no longer happens since

- sphinx_rtd_theme 0.5.0
- sphinx_copybutton 0.3.0

[2020-09-21 15:24] pradyunsg opened #97 "Thoughts on dropping the dependency on clipboard.js?"
**Is your feature request related to a problem? Please describe.**

https://www.npmjs.com/package/clipboard-js -- clipboard.js is a deprecated package, and all the relevant APIs are available as vanilla JS in modern browsers.

**Describe the solution you'd like**

See https://tomspencer.dev/blog/2018/09/14/adding-click-to-copy-buttons-to-a-hugo-powered-blog/#final-code, which describes the entiret

[2020-09-21 17:00] choldgraf commented on #97
I'm totally fine with it as long as the behavior stays the same. I used clipboard.js originally just because I'm not a JS developer and that was the fastest path towards getting a working functionality :-)

[2020-09-21 19:45] chrisjsewell commented on #96
@choldgraf just remembered that I left @wabernatScality hanging a bit here lol. I'm a bit out of ideas, without perhaps going into the code and trying to add more test cases

[2020-10-03 00:09] choldgraf commented on #96
@wabernatScality do you still have these issues? this is also something I don't know how to debug either, I am terrible with regexes :-/  it sounds like it might be a bit of time before we can figure out a solution, just FYI

[2020-10-05 15:28] wabernatScality commented on #96
We have not found a solution. I've rolled out sphinx-copybutton with regexp turned off, hoping our own talent might be sufficiently bent out of shape to fix it as a challenge. In the meantime, we make do with '$ ' as our default "cropped" prompt.

[2020-10-05 15:31] choldgraf commented on #96
Sounds good - if anybody can figure out a fix for why this isn't working I am happy to review and cut a release quickly 👍

[2020-11-04 00:04] choldgraf opened #100 "Icon do not move when the cell shrinks in width"
In https://github.com/executablebooks/sphinx-book-theme/issues/248 I also uncovered a bug (I think) in sphinx-copybutton. Behavior like this:

Basically, if some other HTML causes the code cell to shrink in width, the copybutton icon does not move with it.

![image](https://user-images.githubusercontent.com/1839645/98053600-811d1e80-1dfe-11eb-8609-dce166dbacf8.png)

[2020-11-06 14:59] nvaytet opened #101 "Copybuttons appear on a new line at the bottom of a cell instead of the top right corner"
**Describe the bug**

Copybuttons appear on a new line at the bottom of a cell instead of the top right corner:
![Screenshot at 2020-11-06 15-51-05](https://user-images.githubusercontent.com/39047984/98380095-69d17180-2048-11eb-89b7-7fdb471f1e91.png)
I don't know if it is related to the `sphinx_rtd_theme`.

Also, when I followed the docs to find some info on how to customize the CSS, in [this](htt

[2020-11-06 15:25] choldgraf commented on #101
hmmm - could this be related to some of the SVG changes that @pradyunsg made to the copy icons? This used to show up fine on RTD I believe.

And thanks for pointing out the broken link, fixed now@!

[2020-11-06 15:31] nvaytet commented on #101
I tried the css suggestions in #69 but that did not help

[2020-11-06 20:26] rowanc1 opened #103 "Pressing copy button twice does not reset to correct text"
When clicking the copy button twice, it reverts to "Copied!".

This is due to using the last `data-tooltip` in `oldText` rather than the localized string.

https://github.com/executablebooks/sphinx-copybutton/blob/1cd84205f8e76e91dc4bb8bbcd04c90685d705cf/sphinx_copybutton/_static/copybutton.js_t#L57-L61

Example:

* First time, just click once
* Second time, click twice within 2seconds-- any time

[2020-11-20 10:30] adswa opened #105 "Multi-line Regex matching for command prompts"
Hi, and thanks for providing this extension! :)
I was wondering whether it would be possible for you to add a feature that allows multi-line regex matching in the configuration for prompt identifiers.

**Is your feature request related to a problem? Please describe.**

My use case is the following: I maintain the [DataLad handbook](https://github.com/datalad-handbook/book). Its a Sphinx-based Tuto

[2020-11-24 20:31] mbercx opened #106 "🐛 Page jumps when using copy button and scrolling"
**Describe the bug**

When using the copy button, selecting another window and selecting the browser again, everything works fine. However, if I use the copy button and scroll with the trackpad before or after selecting the other window, the page jumps up when I select the browser again:

![out](https://user-images.githubusercontent.com/25607960/100146902-e9f63480-2e9a-11eb-95da-06c996bc3fa1.gif)

[2020-11-24 20:33] chrisjsewell commented on #106
Nah don't know what you're talking about 😝

[2020-11-24 20:51] mbercx commented on #106
😆 Well, you know, no pressure, but if you could fix this before next week's BIGMAP tutorial, that'd be _great_, @chrisjsewell! 😉

[2020-12-06 22:41] #103 closed

[2020-12-07 16:29] rkdarst opened #110 "copy button <img> doesn't work with dirhtml builder, only on root page"
I just submitted a PR, which usually means I was looking for a bug.  Here it is.

**Describe the bug**

As the title says, adding a literal block block on a Sphinx project's main page, and then building with the `dirhtml` builder, gives you this:

![image](https://user-images.githubusercontent.com/6877977/101370905-caa3d200-38b2-11eb-963b-e543f350c0f7.png)

If you look at the HTML source (after it

[2020-12-07 16:36] rkdarst commented on #110
Do I need a welcome message for every individual repository, and a different one for PRs and issues, and closing PRs?  But I understand it's nice and probably there isn't a way to make it organization wide...

This is actually a property of the *themes*.  I see the same copy-paste problem with sphinx_rtd_theme (which is what I actually use...).  I haven't investigated sphinx-book-theme yet.

[2020-12-07 18:29] rkdarst commented on #110
If you look up you can see the fixes in the themes
Unfortunately there may be other themes that need fixing, but hopefully someone can find it.

[2020-12-17 08:11] rkdarst commented on #110
There has been fixed upstream in sphinx and sphinx_rtd_theme.  I think it's not an issue in sphinx-book-theme.  My workaround using `sed` to dynamically fix it in older versions is findable here https://github.com/coderefinery/sphinx-lesson/issues/50 .

[2020-12-17 08:11] #110 closed

[2020-12-17 08:57] choldgraf commented on #110
oops sorry I missed this one - so nothing to change in the copybutton codebase?

(and yeah, I'm not sure how to get the bots to track people across repositories within an org :-/ )

[2020-12-17 21:00] rkdarst commented on #110
Yes, in the end it was a problem in several upstream themes, and
nothing needs changing in excutablebooks.  Surprisingly, it was a bug
that could have affected very many things, yet was undetected.
Anyway, it was sort of fun to solve.

[2020-12-18 10:13] choldgraf commented on #110
that could have affected very many things, yet was undetected.

haha I know what you mean - you see the bug and think "there is no way that I am the first one to be affected by this"

[2020-12-26 14:51] dbitouze opened #112 "Adding (necessary) lines to what is copied"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Adding (necessary) lines to what is copied.

More precisely, I'd like to use `sphinx-copybutton`  for a LaTeX FAQ. It is common for such a FAQ:

- to give examples with only code blocks that should go in the "document body" (which is between `\begin{document}` and `\end{document}`),
- to not

[2020-12-26 22:11] dbitouze opened #113 "Localization"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

It would be nice for the strings "Copy" and "Copied" to be customizable or, better, to be automatically translated according to the chosen language for the underlying Sphinx documentation.

[2020-12-27 11:42] choldgraf commented on #113
I believe that they already are - see here for a list of the supported languages (and the pattern needed to support a new language):

https://github.com/executablebooks/sphinx-copybutton/blob/master/sphinx_copybutton/_static/copybutton.js_t#L3

Gonna close this but please re-open if I've mis-interpreted what you asked!

[2020-12-27 11:42] #113 closed

[2020-12-27 11:58] mgeier commented on #113
See also https://github.com/executablebooks/sphinx-togglebutton/issues/22.

[2020-12-27 12:48] dbitouze commented on #113
OK, just a matter of a missing French translation :smile: I just made a pull request.

Perhaps a dedicated file for translations, with a clear `po/` directory could help future potential translators.

[2021-01-02 01:27] So-Cool opened #115 "ID of the `div.highlight pre` element gets overwritten"
**Describe the bug**

The extension overwrites the id of the `div.highlight pre` element with `codecell#` (if it already has one). The expected behaviour would be to use the id that already exists.

**To Reproduce**

1. Create a code block with an id, e.g.:
[code]
2. Open the HTML page.
3. `my-id` is overwritten with `codecell0`.

**Expected behavior**

`my-id` is preserved and used to facilitate

[2021-01-04 11:13] stefanodavid commented on #52
Perhaps loosely related to this issue, but is it there a way to configure copy on multi-line bash commands like:
[code]
(if I'm in the wrong place, please advice where to comment, thanks!)

[2021-03-15 14:50] JMarkstrom opened #117 "Request ability to selectively disable the copy button for codeblocks"
I am looking for the ability to _disable_ 'copy' for some code blocks selectively.

An example use case is, I need to show the prompts that an install script makes.
Those prompts are interesting to see, but there is absolutely no benefit of being able to copy them.
Here is a formatting example where I would want copy on the first code block, but NOT on the second:

1. Run the `FreeRADIUSv3.sh` scr

[2021-03-17 00:26] choldgraf commented on #117
Hmmm - could you get this to work the way you want by modifying the copybutton selector? https://github.com/executablebooks/sphinx-copybutton/blob/master/sphinx_copybutton/_static/copybutton.js_t#L77

That is what is used to determine whether to copy a cell. You could either add a CSS rule to some cells, and then modify the selector to only select that rule?

[2021-03-18 17:23] userlerueda opened #118 "emphasize-lines on code-block and literalinclude add extra CR"
**Describe the bug**

When we copy a code block with emphasize-lines it adds an additional carrier return to the copied text

**To Reproduce**

Steps to reproduce the behavior:

1. Create a sphinx directive like this one:
[code]
2. Create documentation
3. Click on copy button
4. Paste text in an editor and see the extra line in between line 1 and 2

**Expected behavior**

Text should be copied as

[2021-04-28 17:23] pradyunsg opened #121 "Link to static asset is broken for code blocks in the `root_doc`"
**Describe the bug**

https://github.com/executablebooks/sphinx-copybutton/blob/d13f7d188b116b656b732bcdefd34e5d9900902e/sphinx_copybutton/_static/copybutton.js_t#L85

The code uses `${DOCUMENTATION_OPTIONS.URL_ROOT}` to locate the static file. However, that is `#` for the `root_doc` when building on RTD (likely with `dirhtml`). This means that the link for the static asset is changed to `#_static

[2021-04-28 17:39] choldgraf commented on #121
ah yeah - this definitely needs a better story around linking the proper libraries...TBH I had no idea what I was doing when I first set up this extension

[2021-05-26 14:59] sappelhoff commented on #105
I am also interesting in seeing a solution for this: I think the part where this could be relevant is this for-loop:

https://github.com/executablebooks/sphinx-copybutton/blob/d13f7d188b116b656b732bcdefd34e5d9900902e/sphinx_copybutton/_static/copybutton_funcs.js#L21-L35

I think one solution to this would be to built in some conditionals.

[code]

The pseudocode above would support use cases like

[2021-05-27 17:41] amotl commented on #84
Dear Chris,

first things first: Thanks for your excellent work on this Sphinx addon, it really saves us.

We want to report back about what @chrisjsewell originally reported here. Apparently, we are getting tripped by this as well. For example, the code block at [1] will not get copied "as-is", all empty lines are missing. The config entries within `conf.py` we are currently using can be reviewed

[2021-05-27 17:44] choldgraf commented on #84
I'm not quite sure where the fix needs to be for this unfortunately, and haven't had time to dig into the code to figure it out. If you or anybody else wants to take a look I am happy to review PRs! (maybe @sappelhof has run into this issue too?)

[2021-05-27 19:36] amotl commented on #84
Thank you for the quick response. I tried to find the spot and handed in a corresponding patch with #127.

[2021-05-28 08:11] sappelhoff commented on #84
I haven't (yet), but I am glad that @amotl prepared a patch (and I would vote for making copying empty lines the default)

[2021-05-31 16:53] amotl commented on #84
Thank you Stefan, appreciate it. Both bringing in the feature as well as making copying empty lines the default behavior have now been folded into #127.

[2021-06-04 08:09] MegChai commented on #106
I met the same situation. Here are steps to reproduce it:

- Click copy button in HTML page;
- Change to other tabs or other programs;
- Come back. Then you will find the page was scrolled up.

[2021-06-04 08:21] MegChai commented on #106
Hi @mbercx  I find that the copy button seems working fine with the current AliDA doc, could you please tell me how do you solve with it?

[2021-06-04 08:24] mbercx commented on #106
@MegChai I didn't solve it myself, but maybe @chrisjsewell did some magic? He's the EB expert in our team. :)

[2021-06-04 18:37] pablogsal commented on #121
We recently switched to use this extension in the Python devguide: https://devguide.python.org/, which is very cool, but unfortunately we are hitting this error in the front page. Is there any way we could help to solve this issue?

[2021-06-06 17:08] choldgraf commented on #121
I _think_ we might be able to fix this by using `pathto(` jinja logic in the line that @pradyunsg notes above. For example, check out its use here in the pydata sphinx theme: https://github.com/pydata/pydata-sphinx-theme/blob/e5b9765d383ce6217d443053906a979b1da1f301/pydata_sphinx_theme/static/webpack-macros.html

[2021-06-06 17:13] #84 closed

[2021-06-06 18:28] choldgraf commented on #121
Actually, I think it's more complicated than that. I've tried to fix it in #129 but hit a bunch of snags. Specifically:

- I tried using `pathto` directly in the `copybutton.js_t` file, but `pathto` was not yet defined, I think because it is only converted into a static file at the beginning of the build, not once per page.
- I tried defining a javascript variable with `pathto` and adding it to ea

[2021-06-06 21:19] pradyunsg commented on #121
Can't we just have an if statement, for determining the prefix? We don't really need to do any fancy pathto stuff -- the existing logic works everywhere except on the root document, which we can special case?

[code]

[2021-06-07 13:39] choldgraf commented on #121
Nope i think you're just being more pragmatic then i am 😅

[2021-06-10 22:26] pablogsal commented on #121
@choldgraf would you be ok with @pradyunsg workaround?

[2021-06-11 13:22] choldgraf commented on #121
oh totally, sorry that wasn't clear in my post above haha

[2021-06-11 15:07] #105 closed

[2021-06-13 15:01] #121 closed

[2021-06-14 21:05] amotl commented on #52
Dear @stefanodavid,

what you are referring to here, honoring line continuation characters, has just been implemented by @sappelhoff, see #126. Thanks to @choldgraf, the new feature is already available per `sphinx-copybutton 0.3.3`.

With kind regards,
Andreas.

[2021-06-14 22:41] choldgraf commented on #52
indeed I think this one could now be closed! thanks @amotl and @sappelhoff for all your help :-)

[2021-06-14 22:41] #52 closed

[2021-06-15 12:32] stefanodavid commented on #52
Thanks @sappelhoff @amotl and @choldgraf, I think that PR #126 covers my use case. I will try to make some test on my code in the next weeks and in the (unlikely) case it does not work, I'll report here.

[2021-07-02 13:54] mbercx commented on #106
Still a problem on our latest tutorial docs (also on our _main_ documentation, btw). Has anyone looked into a fix for this? It makes presenting for tutorials with the `copybutton` quite confusing. 😅

[2021-07-02 14:07] mbercx commented on #106
My workaround for now is just having the habit of clicking an extra time next to the code snippet after copying before I move to another window, that seems to avoid the jumping.

[2021-07-02 18:22] akhmerov commented on #106
This is likely due to the implementation of clipboard.js (they had similar issues before: https://github.com/zenorocha/clipboard.js/issues/179). It [creates a textarea](https://github.com/zenorocha/clipboard.js/blob/57345ab3ce1b3526d736e1b391257d7221854513/dist/clipboard.js#L111) to make text copyable, and this is likely what confuses the page positioning.

[2021-07-02 18:34] pradyunsg commented on #106
Yea, the solution might be to do #97. 🙃

[2021-07-02 18:36] akhmerov commented on #106
It seems to be [this logic](https://github.com/zenorocha/clipboard.js/blob/57345ab3ce1b3526d736e1b391257d7221854513/dist/clipboard.js#L87-L90): the `fakeElement` attached to DOM and selected has to be at the current y-position. Now if only I knew CSS, I would probably be able to understand what goes wrong, however it seems like a hack and a direct JS approach seems more reliable indeed.

[2021-07-02 19:39] choldgraf commented on #106
@pradyunsg i am all for it! i just have no idea how to do it haha

[2021-07-03 14:27] choldgraf opened #134 "Make copybutton image (or other aspects of it) configurable"
In #133 we discussed that some people might want the copybutton image to be configurable. For example, provide a local SVG and use that for the copybutton image on the website. @pradyunsg suggested that we wait to see if we get a signal from users that this is something they'd want to have.

# Actions

- [ ] Wait a few months to see if anybody asks to change the copybutton image back, or more gene

[2021-07-03 16:33] #106 closed

[2021-07-07 22:57] jack1142 opened #136 "Make manual selection of text close to the copy button more easy"
**Is your feature request related to a problem? Please describe.**

I find it a bit frustrating when the copy button interferes with me moving my mouse towards the end of the code block.

Here's a GIF I took on the sphinx-copybutton's documentation where I'm trying to present my frustration:
![2021-07-08_00-30-37](https://user-images.githubusercontent.com/6032823/124836742-c7c1aa80-df83-11eb-9d1a-

[2021-07-08 17:49] choldgraf commented on #136
I agree that in general it would be useful to have the copy button outside the block of code. However, I think it would be really hard to do this in a way that was theme-agnostic (it is hard enough as it is to do this in a theme-agnostic way, and keeping the copy button overlaid within the code block seems much easier than modifying the code block's structure itself).

[2021-08-04 10:39] kolibril13 opened #137 "Add copy button to Gitlab"
### Describe the problem

In Gitlab I have the following ` .gitlab-ci.yml` file:

[code]
And in conf.py I added:
[code]
When I now run the workflow to deploy the site from Gitlab Pages, I get this error:
[code]

### Link to your repository or website

_No response_

### Steps to reproduce

 Creating this ` .gitlab-ci.yml` in a Gitlab repo and run a sphinx project.

### The version of Python you're

[2021-08-04 11:04] choldgraf commented on #137
Try sphinx_copybutton with an underscore

[2021-08-15 20:15] rixx commented on #85
Can confirm, sphinx-copybutton copies line numbers. It would be really nice to have both line numbers and copy functionality at the same time. Adding ``span.linenos {user-select: none}`` helps for manual copying, but not for automatic copying, I'm afraid.

[2021-09-21 06:23] bicarlsen commented on #85
I address this issue in this [Pull Request 138](https://github.com/executablebooks/sphinx-copybutton/pull/138_

[2021-09-21 06:26] bicarlsen commented on #9
I believe the code in [Pull Request 138](https://github.com/executablebooks/sphinx-copybutton/issues/85) could be easily adapted to add this functionality.

[2021-09-24 18:09] sistia01 opened #139 "Issue changing copy image"
### Describe the problem

Hello!

I'm trying to change the copy to clipboard image and following the instructions here (https://sphinx-copybutton.readthedocs.io/en/latest/) but am unable to change the image. The current image is an "older" look with the language "Copy to Clipboard" below. I'd like to have just a more simple image without the text below.

I've added the image in _static/AdditionalI

[2021-10-13 11:31] theletterf opened #141 "Feature request: Option to make copy button always visible"
### Description / Summary

I wish I was able to change the behavior of sphinx-copybutton so that they copy button is always visible.

### Value / benefit

Invisible copy buttons may be overlooked by users.

### Implementation details

_No response_

### Tasks to complete

_No response_

[2021-10-13 11:31] theletterf commented on #141
@choldgraf Sort of related to https://github.com/executablebooks/sphinx-copybutton/issues/134 ?

[2021-10-20 04:47] pradyunsg commented on #134
Hi. Uh... I'd like to change the copy button back. 🙈

I've been playing around with various documentation themes, and the style we had earlier is more common and more neutral, contributing to nicer aesthetics than the GH-inspired style.

[2021-10-23 07:53] zhyantao opened #144 "How can I remove linenos from the copied text?"
### Describe the problem

I am using is **sphinx_book_theme**.

When I try to use copy button to copy the text, however, the linenos also included.

I just want to use linenos to view the line numbers, and I don’t want them to be copied to the clipboard.

Thank you so much~

### Steps to reproduce

For example: [website](https://zhyantao.readthedocs.io/zh_CN/latest/programming-lang/java/initializa

[2021-11-08 17:00] jmd-dk opened #146 "Copying code blocks with '>>>' prompts"
### Describe the problem

Code blocks within Sphinx recognizes the Python prompt `>>>` (and possible others for other languages) at the beginning of lines. Not only are they color coded, but they are not highlighted if you click and drag the mouse over them. This allows for convenient copying of code from blocks that include such prompt characters, without getting the prompt mixed in with the copi

[2021-12-01 08:40] jorisvandenbossche commented on #30
Would there also be interest in doing this for _manual_ copying, instead of only for the copy button? (i.e. so closer to what https://github.com/sbrunner/sphinx-prompt is doing)
Or is that considered out of scope for this project?

[2021-12-01 19:03] choldgraf commented on #30
@jorisvandenbossche can you describe in more detail what you mean? I'm not sure I follow (feel free to open a new issue if that makes it easier to scope)

[2021-12-02 11:14] diego-sueiro commented on #96
Any updates on this issue? I can also reproduce it with and without `copybutton_prompt_is_regexp`. I'm using `Python==3.6.9 sphinx==4.0.2 sphinx_rtd_theme==0.5.2 sphinx-copybutton==0.4.0`.

[2021-12-06 16:28] Loic-R commented on #146
Hello @jmd-dk
You probably missed the related part of the documentation talking about [how to strip input prompts](https://sphinx-copybutton.readthedocs.io/en/latest/#strip-and-configure-input-prompts-for-code-cells)

In your case, if you're just dealing with python prompts in your documentation, you can simply add `copybutton_prompt_text = ">>> "`  in the conf.py, it's working fine for me

Have a

[2021-12-06 16:42] jmd-dk commented on #146
@Loic-R I did indeed miss that. Thanks a lot, works great!

[2021-12-06 16:42] #146 closed

[2021-12-07 12:03] GBrachetta opened #147 "Custom CSS issue"
### Describe the problem

I'm trying to modify the default css and the build doesn't reflect my changes.

My setup is with separate folders for source and build, and I'm using the defaults in `conf.py`.

However, my modified `copybutton.css` file is not built.

If I create any other file, say `test.css`, that one is indeed built.

Seems like the build process executes my modified file before the o

[2021-12-09 20:12] jamesholland-uk commented on #117
This enhancement would be really great. All code blocks get the copy button, whether it is useful for the user or not, as @JMarkstrom says. Selective disabling of the button would allow us to show outputs of commands and not confuse users into thinking it is something they need to copy/paste. Thanks

[2021-12-10 17:42] choldgraf commented on #117
Do the instructions here not work for this? https://sphinx-copybutton.readthedocs.io/en/latest/#configure-the-css-selector-used-to-add-copy-buttons

[2021-12-13 10:25] jamesholland-uk commented on #117
Thanks @choldgraf. How do I selectively change the element used for specific code-blocks, the ones I want in include/exclude having the copy button? When I have this in my source:
[code]
I looked around and couldn't find a way from reading the docs. Lots of parameters for turning on/off line numbers, highlighting lines, specifying a programming language for the code block, etc but nothing for the

[2021-12-13 20:09] choldgraf commented on #117
I believe you can add a class to code blocks like so:

[code]

does that work for you? If so, we can try to add in an example to the docs

[2021-12-14 12:38] jamesholland-uk commented on #117
I used this in my conf.py:
[code]
Then this in the source document:
[code]
And got this in the resulting HTML:
[code]
And it works 👍  Thanks so much for the assistance @choldgraf!

More documentation would definitely help given my experience, or I'm just new/slow/etc 😆

[2022-01-10 12:58] aantn opened #149 "Allow setting `copybutton_prompt_text` for specific codeblocks only"
### Description / Summary

We're using sphinx-copybutton for our documentation and love it. Thank you very much.

We'd like to allow stripping the prompt text for specific blocks of code but not all of them.

You can see an example here:

https://docs.robusta.dev/master/getting-started/installation.html

I'd like to strip `$` from one code block on that page. The other code blocks don't contain `$

[2022-01-10 13:05] aantn commented on #149
To clarify, the stripping isn't the main issue. The main issue is determining which lines to copy and that should sometimes only be lines with `$` and sometimes all lines.

[2022-01-19 02:05] choldgraf opened #150 "Convert documentation into MyST Markdown"
### Description

Our documentation is currently written in rST, but it will be easier for others to maintain and update if we converted it to MyST Markdown.

### Guide to implement

The easiest way to do this would be to:

- Ensure all open PRs are not changing the docs (to avoid merge conflicts)
- Run the rst2myst tool on these docs: https://github.com/executablebooks/rst-to-myst

[2022-01-19 02:09] choldgraf opened #151 "Update the copybutton image to match GitHub's copybutton style"
### Description

Currently we use the following style for the copybutton:

![image](https://user-images.githubusercontent.com/1839645/150050171-ac5c48c4-28fe-4b10-8bb7-d9c31438c985.png)

This was chosen in order to match GitHub, a very common coding platform that we use for design inspiration. Since we chose our current image, GitHub has updated their copybutton to look like this:

![image](https:

[2022-01-19 03:51] choldgraf opened #152 "Modularize our documentation a bit"
### Description

Currently we have all of our documentation on a single page. It has gotten a bit more complex over time, and so I think it might best to modularize it a bit and have each page scoped more tightly, similar to our other documentation sites (maybe trying to follow diataxis.fr as much as possible)

[2022-01-19 04:18] choldgraf opened #154 "Copy button stays put sometimes when other objects shrink its container"
### Describe the problem

There are some cases where elements to the right of the copybutton can push its parent, but not the button itself.

Here's what it looks like:

![image](https://user-images.githubusercontent.com/1839645/150063270-d7f2e894-71c1-44f1-bac1-2b3fea55420c.png)

### Link to your repository or website

_No response_

### Steps to reproduce

I'm adding an example of this in this P

[2022-01-19 07:30] pradyunsg opened #156 "Copy button does not show up for productionlist"
### Describe the problem

Basically, there’s no copy button added on plain pre blocks that are not highlighted.

### Link to your repository or website

_No response_

### Steps to reproduce

See pages in docs.python.org/3/reference, for an example of the markup. Most packages have a section noting the grammar, that don’t use highlighting, and won’t get a copy button.

### The version of Python yo

[2022-01-19 16:18] BWibo commented on #118
I can confirm this issue. Here are some code boxes with emphazised lines where this can be tested:

* Example: https://3dcitydb-docs.readthedocs.io/en/latest/impexp/docker.html#importer-exporter-docker-combined-with-3dcitydb-docker
* Source: https://github.com/3dcitydb/3dcitydb-docs/tree/master/source

[2022-01-19 19:18] choldgraf opened #157 "issue to store media"
This is an issue to use GitHub as a lightweight CDN for the `gif`s in this repository, so that we don't have to store expensive assets in the repo. I'll close this issue and we can add images / gifs / etc in comments below, then link them from the docs.

[2022-01-19 19:19] #151 closed

[2022-01-19 19:22] #157 closed

[2022-01-19 19:22] choldgraf commented on #157
Usage GIF:

![Code_JIy8QGgCqz](https://user-images.githubusercontent.com/1839645/150199689-d656d16f-7e30-4010-9877-e6ba6fcd32ef.gif)

[2022-02-01 09:11] stefanodavid commented on #96
I am facing a similar issue (perhaps exactly the same). I was asked to setup a ~quite~very complex regexp, which validates at regexp101.com, to remove a number of prompts from the docs.

After quite a lot of debugging, my guess is that @wabernat was on the right track: ORs using `( )` are apparently not supported in this extension. I stripped down my prompt text to set up a counterexample.

* `cop

[2022-02-03 19:13] choldgraf commented on #156
If I recall, the reason that we didn't select for plain ol' `pre` is because I thought that might be a tad aggressive and add buttons that people didn't want. Instead this could be worked around for people that want `pre` by defining your own CSS selector: https://sphinx-copybutton.readthedocs.io/en/latest/#configure-the-css-selector-used-to-add-copy-buttons

[2022-02-06 01:24] choldgraf commented on #152
this is now fixed in #160

[2022-02-06 01:24] #152 closed

[2022-04-14 22:09] ohrely opened #167 "Post message after all copy buttons added"
### Describe the problem/need and solution

**Context**
We are logging copy events in documentation built with sphinx.  We can clumsily capture these events by listening to all click events on a parent node, but we would prefer to add an event listener to each copybutton.

**Problem / Idea**
Because copy buttons are injected into the page at a non-deterministic time, there is currently no way for

[2022-04-14 22:11] ohrely commented on #167
(We is @fasiha and myself)

If this change would be welcome, we would be happy to take a stab at implementing.

[2022-04-28 22:56] rdauria commented on #117
Hello All,

While the procedure described by @jamesholland-uk in https://github.com/executablebooks/sphinx-copybutton/issues/117#issuecomment-993499190 works, it is a little impractical as it requires adding: `:class: copy-buttton` under each and every one of the code blocks that should show a copy button. These generally are the vast majority and only sometimes (for example, when displaying a sam

[2022-04-29 14:11] choldgraf commented on #167
This seems reasonable to me as long as the implementation isn't too complicated to maintain👍

[2022-05-19 04:34] SinChan4896 opened #169 "Build failed for config doc when importing an extension sphinx_copybutton"
### Describe the bug

This is the duplicate question, and someone stated need to create the `.readthedocs.yaml` and `requirement.txt` to set the configuration for build.
https://github.com/readthedocs/readthedocs.org/issues/7100

**Problem**
The sphinx_copybutton is working fine in local but failed to build in RTD.

**Error**
`Could not import extension sphinx_copybutton (exception: No module name

[2022-05-19 04:46] SinChan4896 opened #170 "Failed build in RTD for extension sphinx-copybutton"
### Describe the bug

**Context**
This is the duplicate question from this [Github report](https://github.com/readthedocs/readthedocs.org/issues/7100)

**Issue**
I got the same issue as the reporter where the copy icon is works on local but failed when uploading in RTD. In the article above stated need to follow this [RTD Build](https://docs.readthedocs.io/en/stable/guides/reproducible-builds.html

[2022-05-19 06:44] #169 closed

[2022-05-19 12:56] #117 closed

[2022-07-28 07:37] choldgraf opened #175 "Copybutton disappears too quickly if you click copy then move the cursor off the code cell"
### Describe the bug

This is a minor UX bug, but the copybutton hides itself a bit too aggressively when you move out of the code cell while the "green check" is displayed:

![chrome_aD1cMpsVNz](https://user-images.githubusercontent.com/1839645/181448734-7bd0a3bd-d3a4-4c04-b77d-4554de38ba91.gif)

### Reproduce the bug

Seen here: https://sphinx-copybutton.readthedocs.io/en/latest/

### List your

[2022-11-15 09:51] #175 closed

[2022-11-16 20:37] numero-744 commented on #101
Same issue here

[2022-11-17 14:56] rkdarst opened #185 "Conflict between regex exclusion/prompt selection and copybutton_exclude"
### Describe the bug

There are now two ways to avoid copying prompts and output:

1) `copybutton_exclude` excludes certain CSS classes.  Sphinx uses this by default to prevent selection of prompts.
2) `copybutton_prompt_text`, `copybutton_only_copy_prompt_lines`, `copybutton_remove_prompts`, `copybutton_copy_empty_lines`.

(1) is in theory automatic: the Pygments lexer should highlights prompts w

[2022-11-17 16:09] rkdarst commented on #185
https://github.com/executablebooks/sphinx-copybutton/pull/186 is a demonstration of solution (b) where it goes all-in on using Pygments to detect everything.  It mostly works, but:
- here documents don't work
- Based on #178, there was almost a solution, but blank lines were copied.  `copybutton_copy_empty_lines = False` in theory would solev this, but
  - it only worked when the prompt regexes we

[2022-11-17 16:22] rkdarst commented on #185
After thinking about this, testing, and writing all of the above, here are my thoughts on what I would do (sort of a null option):

* Leave things as they are now.   The reason for this is it is as close to upstream sphinx as possible (least surprise), and works for any language reasonably well with no configuration needed.
* Document that for `copybutton_prompt_text`, it is best to set `copybutto

[2022-11-17 17:53] rkdarst commented on #185
https://github.com/executablebooks/sphinx-copybutton/pull/187 is an immediate docs fix while discussing the best option.

[2022-11-17 18:47] hassec commented on #185
Sorry for the slow reply @rkdarst, busy day. But 👍 for the prompt action.

My example case was just a `.. code:: python` or doctest block in sphinx, with highlighting via `pygments`.

FWIW, I think the default should change back to `copybutton_exclude = '.lineos'`. Everyone who's currently using this plugin with `copybutton_prompt_text` will have broken copy buttons after updating and that's annoy

[2022-11-17 19:52] rkdarst commented on #185
Is your sample project available online - from what I can tell, the `python` lexer shouldn't output `.gp`.

But I agree with your sentiment about not breaking working things, and it's a bit of a shame we have to choose between them.  I still somewhat lean towards "those who configured it once can configure again, those who haven't configured anything don't have to configure anything."  I wonder wh

[2022-11-17 20:08] hassec commented on #185
No, unfortunately it isn't. But I can easily reproduce it:

Empty folder with empty `conf.py` and a `index.rst` with:
[code]
and run `sphinx-build -Eanb html . build/` which will produce a page that has the `.gp` for the prompt and `.go` for the output.

I disagree, because those who configured it are getting a silent breaking change they might not even notice and those who didn't configure are ge

[2022-11-17 20:57] rkdarst commented on #185
Yeah, you are right, there should'nt be a change without some expectation - at least not without planning.  #188 changes back, after that I will further update the #187 to reflect the new state of things.

I found why it's `.gp`: I could'nt see it in pygments, but Sphinx tries to be clever and tests `node.rawsource.startswith('>>>')` and makes those `pythonconsole`.  Perhaps to make docstring-base